<%= render partial: 'workspace/shared/tabs' %> <%# TODO Replace with concurrent-instance specific tabs %>
<div class="flex px-4 py-8 sm:px-6 ">
  <div class="checklist-preview">
    <%= render_checklist(checklist) %> <%# TODO present list of checklist concurrent instances, in alphabetical order %>
  </div>
</div>
