<!-- Static sidebar for desktop -->
<div class="hidden xl:fixed xl:inset-y-0 xl:z-50 xl:flex xl:w-72 xl:flex-col">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-black/10 px-6 ring-1 ring-white/5">
    <div class="flex h-16 shrink-0 items-center">
      <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=yellow&shade=500" alt="Your Company">
      <p class="ml-3 text-gray-400 text-lg font-bold">Obsekio</p>
    </div>
    <nav class="flex flex-1 flex-col">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>
          <ul role="list" class="-mx-2 space-y-1">
            <%= render_sidebar_item path: root_path, icon: :workspace, title: "Workspace", active_group: :home  %>
            <%= render_sidebar_item path: library_checklists_path, icon: :library, title: "Library", active_group: :library %>
            <%= render_sidebar_item path: settings_account_path, icon: :settings, title: "Settings", active_group: :settings %>
          </ul>
        </li>

        <li class="-mx-6 mt-auto flex items-center">
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "w-full rounded-md bg-yellow-300 m-4 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-yellow-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600 text-center" %>
        </li>
      </ul>
    </nav>
  </div>
</div>
