<li>
  <%
    klass = "group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
    klass += " bg-gray-800 text-white" if active
  %>
  <%= link_to path, class: klass do %>
    <%= render_icon icon %>
    <%= title %>
  <% end %>
</li>
