<h1 class="sr-only"><%= @checklist.title %></h1>
<%= render partial: 'templates/shared/header' %>
<%= render partial: 'templates/shared/tabs' %>

<div class="flex px-4 py-8 sm:px-6 ">
  <div class="checklist-preview">
    <%= render_checklist(@checklist) %>
  </div>
</div>
