<h1 class="sr-only"><%= @workspace.name %> - Settings</h1>

<% content_for :breadcrumb_controls do %>
  <div class="flex">
    <%#= link_to "Settings", settings_workspace_path(@workspace), class: "block rounded-md bg-grey-500 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-grey-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-grey-500 mr-2" %>
  </div>
<% end %>

<%= render partial: 'layouts/shared/breadcrumbs' %>

<%= render partial: 'workspaces/settings_sidebar', locals: { workspace: @workspace } %>


