 <%# Change this to handle the "workspace" of the current account (user or org) %>
<h1 class="sr-only"><%= "Personal Workspace" %></h1>

<% if @checklists.empty? %>
  <%# Change this to handle the "workspace" of the current account (user or org) %>
  <%= render partial: '/checklists/empty_page', locals: { container: @workspace } %>
<% else %>
  <%= render partial: '/checklists/list', locals: { checklists: @checklists } %>
<% end %>
