
<%= render partial: 'workspace/shared/header' %>

<h1 class="sr-only">Checklists</h1>
<% if @checklists.empty? %>
  <%= render partial: 'workspace/checklists/empty_page' %>
<% else %>
  <%= render partial: 'workspace/checklists/table', locals: { checklists: @checklists } %>
<% end %>

