<% content_for :breadcrumb_controls do %>
  <div class="flex">
    <%- if policy(checklist).edit? %>
      <%= link_to "Edit", edit_checklist_path(checklist.becomes(Checklist)), class: "block rounded-md bg-yellow-500 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-500 mr-2" %>
    <% end %>
  </div>
<% end %>

<%= render partial: 'layouts/shared/breadcrumbs' %>

<div class="flex px-4 py-8 sm:px-6 ">
  <div class="checklist-preview">
    <div data-controller="checklist" data-checklist-target="previewPanel" data-checklist-instance-id-value="<%= checklist.single_instance.id %>">
      <%= render_checklist(@checklist.single_instance) %>
    </div>
  </div>
</div>
