<div class="bg-gray-900 flex items-center justify-center h-96">
  <div class="text-center">
    <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
    </svg>
    <h3 class="mt-2 text-sm font-semibold text-gray-500">No <%= container.model_name.human.downcase %> checklists</h3>
    <p class="mt-1 text-sm text-gray-500">Get started by creating a new checklist in '<%= container.name %>'.</p>
    <div class="mt-6">
      <%= link_to 'New checklist', new_checklist_path(container_id: container.id, container_type: container.class.to_s), class: ' "block rounded-md bg-yellow-500 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-500 mr-2"' %>
    </div>
  </div>
</div>
