<div>
  <div class="mt-6 xborder-t xborder-white/10">
    <dl class="divide-y divide-white/10">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-white"><%#= Library::Checklist.human_attribute_name(:title_alternative) %></dt>
        <dd class="mt-1 text-sm leading-6 text-gray-400 sm:col-span-2 sm:mt-0"><%#= checklist.title_alternative %></dd>
      </div>


    </dl>
  </div>
</div>
